<div class="fondo-modal-imagen animated fadeIn fast" (mouseenter)="onInitModal()"
    [class.oculto]="modalService.ocultarModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">

        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mapaLabel">Fichaje de {{fichaje.tipo}} realizado </h4>&nbsp;
                    <h4 class="modal-title" id="dayLabel">{{fichaje.date.getDate() | fecha:false}}/</h4>
                    <h4 class="modal-title" id="monthLabel">{{fichaje.date.getMonth() | fecha:true}}/</h4>
                    <h4 class="modal-title" id="yearLabel">{{fichaje.date.getFullYear()}}</h4>&nbsp;&nbsp;
                    <h4 class="modal-title" id="hourLabel">{{fichaje.date.getHours() | fecha:false}}:</h4>
                    <h4 class="modal-title" id="minutesLabel">{{fichaje.date.getMinutes() | fecha:false}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="map" class="map-container"> </div>
                </div>
                <div class="modal-footer">
                    <div *ngIf="!modalService.addMarkerOnClick">
                        <button *ngIf="!modalService.addMarkerOnClick" type="button" class="btn btn-primary"
                            data-dismiss="modal" (click)="fly()">
                            Fly
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarModal()">
                            Cerrar
                        </button>
                    </div>
                    <div *ngIf="modalService.addMarkerOnClick">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="aceptar()">
                            Aceptar
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarModal()">
                            Cerrar sin guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>