/* You can add global styles to this file, and also import other style files */
.cursor{
    cursor:pointer;
}

.w20{
    width: 20px;
}

.w30{
    width: 30px;
}
.oculto {
    display: none;
}
.w30PorCiento{
    width: 30%;
}
.negrita{
    font-weight: bold;
}


.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

.strong-dark{
    background-color: #141d26;
}
.dark{
    background-color:#1B2631;    
}
.white-font{
    color: white;
}
