<ion-tabs>
    <ion-tab-bar slot="bottom" class="dark">
        <ion-tab-button fill="clear" [routerLink]="['/dashboard']" class="dark">
            <ion-icon name="home" color="primary"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logout()" class="dark">
            <ion-icon name="log-out" color="primary"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>