<div class="container">
    <div class="row">
        <aside class="col-sm-2">
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Usuarios <i class="fa fa-users"></i></h6>
                    </header>
                    <div class="card-body">
                        <div class="form-check" *ngFor="let usuario of usuariosTotales">
                            <input class="form-check-input" ng-checked="all" type="checkbox"
                                (change)="cargarUsuariosSeleccionado($event,usuario)" value={{usuario.user_id}}
                                ng-model='usuarioSeleccionado' id="{{usuario.user_id}}">
                            <label class="form-check-label" for="{{usuario.user_id}}">
                                {{usuario.user_id}}
                            </label>
                        </div>
                    </div>
                </article>
            </div>
            <!---------------------------------------------------->
            <!----------------------Buttons----------------------->
            <br>
            <article>
                <div class="card">
                    <header class="card-header">
                        <h6 class="title">Acciones <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </h6>
                    </header>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <button class="btn btn-danger btn-block btn-rounded" id="fichajesButton"
                                value="fichajesButton" type="submit"
                                (click)=" activarMostrarFichajes();cargarFichajesPeriodo(dateInicial,dateFinal)">Mostrar
                                fichajes</button>
                        </div>
                        <div class="col-sm-12 margin-top">
                            <button class="btn btn-success  btn-block btn-rounded" id="mapaButton" value="mapaButton"
                                type="submit" (click)="activarMostrarMapa();cargarMapa()">Mostrar mapa</button>
                        </div>
                        <div class="col-sm-12 margin-top">
                            <button class="btn btn-info btn-block btn-rounded"
                                (click)="abrirModalFiltrarFichajes('admin')">Periodo de fichajes</button>
                        </div>
                    </div>
                </div>
            </article>
            <!--------------------EndButtons----------------------->
            <!---------------------------------------------------->
        </aside>
    </div>
</div>

<div *ngFor="let usuarioFichajes of fichajes | keyvalue">
    <div *ngIf="mostrarFichajes">
        <div class="row">
            <!--------------------Estadisticas----------------------->
            <!-------------------------------------------------------->
            <div class="col-md-4 margin-center margin-top">
                <div class="card animate__animated animate__fadeIn fast">
                    <h5 class="card-header">Periodo entre
                        {{dateInicial.getDate() | fecha:false}}/{{dateInicial.getMonth() |
                        fecha:true}}/{{dateInicial.getFullYear()}} y
                        {{dateFinal.getDate() | fecha:false}}/{{dateFinal.getMonth() |
                        fecha:true}}/{{dateFinal.getFullYear() | fecha:false}}
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">Horas trabajadas {{usuarioFichajes.key}}</h5>
                        <p class="card-text"><b>{{horasTotales.get(usuarioFichajes.key)}}</b> horas y
                            <b>{{minutosTotales.get(usuarioFichajes.key)}} minutos</b>
                        </p>
                        <p class="card-text">
                            <b>{{estadisticasService.calcularHorasAlDia(dateInicial,dateFinal,horasTotales.get(usuarioFichajes.key))}}</b>
                            horas/dia
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------EndEstadisticas----------------------->
        <!-------------------------------------------------------->

        <!-----------------------Tabla-------------------------->
        <!-------------------------------------------------------->
        <div class="fichajes-container animate__animated animate__fadeIn fast">
            <div class="container">
                <div class="table-responisve">
                    <table id="fichajes" class="table table-bordered table-hover table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    {{usuarioFichajes.key}}
                                </th>
                            </tr>
                            <tr>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Comentario</th>
                                <th>Localización</th>
                                <th data-editable="true">Acciones</th>
                            </tr>
                        </thead>
                        <tr class="table-info" *ngFor="let fichaje of usuarioFichajes.value">

                            <td>{{fichaje.tipo}}</td>
                            <td>
                                {{fichaje.date.getDate() | fecha:false}}/{{fichaje.date.getMonth() |
                                fecha:true}}/{{fichaje.date.getFullYear() | fecha:false}}
                            </td>
                            <td>
                                {{fichaje.date.getHours() | fecha:false
                                }}:{{fichaje.date.getMinutes() | fecha:false}}
                            </td>
                            <td class="w30PorCiento">
                                {{fichaje.comentario}}
                            </td>
                            <td class="w30 text-nowrap text-center">
                                <i class="w20 cursor fas fa-map-marker-alt" (click)="abrirModal(fichaje)"></i>
                            </td>
                            <td class="text-nowrap text-center">
                                <a class="cursor" data-toogle="tooltip" data-original-title="Editar"
                                    (click)="modalActualizarFichaje(usuarioFichajes.key,fichaje)">
                                    <i class=" w20 fa fa-pencil text-inverse m r-10"></i>
                                </a>
                                <a class="cursor" data-toogle="tooltip" data-original-title="Borrar"
                                    (click)="modalEliminarFichaje(usuarioFichajes.key,fichaje)">
                                    <i class=" w20 fa fa-close text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------------EndTabla-------------------------->
<!-------------------------------------------------------->

<!-----------------------Mapa-------------------------->
<!-------------------------------------------------------->
<div *ngIf="mostrarMapa" id="map" class="map-container"> </div>
<!-----------------------EndMapa-------------------------->
<!-------------------------------------------------------->

<!---------------ModalFiltrarFichajes--------------------->
<!-------------------------------------------------------->
<app-filtrar-fichajes></app-filtrar-fichajes>
<!------------------ModalFiltrarFichajes------------------>
<!-------------------------------------------------------->

<!-------------------ModalActualizarFichaje--------------->
<!-------------------------------------------------------->
<app-actualizar-fichaje-admin></app-actualizar-fichaje-admin>
<!-----------------ModalActualizarFichaje----------------->
<!-------------------------------------------------------->