<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/dashboard']"><i class="fa fa-home"
                        aria-hidden="true"></i>
                    Home</a></li>
            <li class="nav-item" *ngIf="hasFichado()"><a class="nav-link"><i class="fa fa-clock-o"
                        aria-hidden="true"></i>
                    Fichaje de {{fichaje.tipo}} realizado a las
                    {{fichaje.date.getHours() | fecha:false}}:{{fichaje.date.getMinutes() | fecha:false}}
                </a>
            </li>
            <li class="nav-item" *ngIf="!hasFichado()"><a class="nav-link"><i class="fa fa-exclamation-triangle yellow"
                        aria-hidden="true"></i>
                    Cuidado, no has fichado</a></li>

        </ul>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item "><a class="cursor nav-link" (click)="logout()"> <i class="fa fa-sign-out"
                        aria-hidden="true"></i>
                    Cerrar sesión</a></li>
        </ul>
    </div>
</nav>