.scroll{
    overflow: auto;
    width: 10%;
    height: 100%;
}
.mapa{
    float: left;
    width: 80%;
    height: 100%;
    border: 1px solid black;
}
.fichajes{
    float: left;
    width: 70%;
    height: 100%;
    margin-left: 10%;
    border: 2px solid black;
}
.usuarios{
    float: left;
    width: 10%;
    height: 100%;
    border: 2px solid black;

}