<!----------ListaUsuarios------------>
<!----------------------------------->
<ion-card>
    <ion-card-header>
        <ion-title>
            <ion-icon name="people" color="primary"></ion-icon>
            Usuarios
        </ion-title>
    </ion-card-header>
    <ion-list>
        <ion-item *ngFor="let usuario of usuariosTotales">
            <ion-label>{{usuario.user_id}}</ion-label>
            <ion-checkbox (change)="cargarUsuariosSeleccionado($event,usuario)" value={{usuario.user_id}}
                ng-model='usuarioSeleccionado' id={{usuario.user_id}} slot="start">
            </ion-checkbox>
        </ion-item>
    </ion-list>
</ion-card>
<!----------EndListaUsuarios--------->
<!----------------------------------->

<!------------BtnAcciones------------>
<!----------------------------------->
<ion-card>
    <ion-card-header>
        <ion-title>
            <ion-icon name="create" color="primary"></ion-icon>
            Acciones
        </ion-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button shape="round" expand="block" value="fichajesButton" type="submit"
            (click)="activarMostrarFichajes;cargarFichajesPeriodo(dateInicial,dateFinal)">
            Mostrar fichajes
        </ion-button>
        <ion-button shape="round" expand="block" value="mapaButton" type="submit"
            (click)="activarMostrarMapa();cargarMapa()">
            Mostrar mapa
        </ion-button>
        <ion-button shape="round" expand="block" (click)="abrirModalFiltrarFichajes('admin')">
            Periodo de fichajes
        </ion-button>
    </ion-card-content>
</ion-card>
<!----------EndBtnAcciones----------->
<!----------------------------------->


<div *ngFor="let usuarioFichajes of fichajes | keyvalue">
    <div *ngIf="mostrarFichajes">
        <!----EstadisticasPeriodo----->
        <!---------------------------->
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                    Periodo entre
                    {{dateInicial.getDate()
                    |fecha:false}}/{{dateInicial.getMonth()|fecha:true}}/{{dateInicial.getFullYear()
                    | fecha:false}} y
                    {{dateFinal.getDate() | fecha:false }}/{{dateFinal.getMonth() |
                    fecha:true}}/{{dateFinal.getFullYear() |
                    fecha:false}}
                </ion-card-subtitle>
                <ion-card-title>Horas trabajadas {{usuarioFichajes.key}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                    <b>{{horasTotales.get(usuarioFichajes.key)}}</b> horas y
                    <b>{{minutosTotales.get(usuarioFichajes.key)}} minutos</b>
                </p>
                <p>
                    <b>{{estadisticasService.calcularHorasAlDia(dateInicial,dateFinal,horasTotales.get(usuarioFichajes.key))}}</b>
                    horas/dia
                </p>
            </ion-card-content>
        </ion-card>
        <!---EndEstadisticasPeriodo--->
        <!---------------------------->

        <!----------------->
        <!---------------------TablaFichajes----------------------->
        <!--------------------------------------------------------->
        <ion-grid>
            <div class="white-font">
                <ion-row>
                    <ion-col>
                        {{usuarioFichajes.key}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Tipo
                    </ion-col>
                    <ion-col>
                        Fecha
                    </ion-col>
                    <ion-col>
                        Hora
                    </ion-col>
                    <ion-col>
                        Localización
                    </ion-col>
                    <ion-col>
                        Acciones
                    </ion-col>
                </ion-row>
            </div>
            <div class="dark" *ngFor="let fichaje of usuarioFichajes.value let odd=odd"
                [ngClass]="odd ? 'dark-row' : 'white-row'">
                <ion-row>
                    <ion-col>
                        <div>
                            {{fichaje.tipo}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{fichaje.date.getDate() | fecha:false}}/{{fichaje.date.getMonth() |
                            fecha:true}}/{{fichaje.date.getFullYear() | fecha:false}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{fichaje.date.getHours() | fecha:false}}:{{fichaje.date.getMinutes() | fecha:false}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a class="cursor" data-original-title="Map" (click)="abrirModal(fichaje)">
                                <ion-icon class="icon-size " name="map"></ion-icon>
                            </a>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a class="cursor" data-toogle="tooltip" data-original-title="Editar"
                                (click)="modalActualizarFichaje(usuarioFichajes.key,fichaje)">
                                <ion-icon class="icon-size" name="create"></ion-icon>
                            </a>
                            <a class="cursor" data-toogle="tooltip" data-original-title="Borrar"
                                (click)="modalEliminarFichaje(usuarioFichajes.key,fichaje)">
                                <ion-icon class="icon-size red" name="close-circle"></ion-icon>
                            </a>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
        <!---------------------EndTablaFichajes----------------------->
        <!------------------------------------------------------------>
    </div>
</div>

<!-----------------------Mapa-------------------------->
<div *ngIf="mostrarMapa" id="map" class="map-container"> </div>


<!---------------ModalFiltrarFichajes--------------------->
<app-filtrar-fichajes></app-filtrar-fichajes>


<!-------------------ModalActualizarFichaje--------------->
<app-actualizar-fichaje-admin></app-actualizar-fichaje-admin>