.map-container {
    width: 74%;
    height: 70%;
    margin-left: 22%;
    margin-top: 2%;
    position:absolute;

    border: 1px solid rgb(0, 0, 0);

}

.fichajes-container{
    width:85%;
    margin-left: 10%;
    position:relative;
}
.margin-center{
    margin-left: 33%;
}

aside{
    position:absolute;
    margin-top: 1.5%;
    margin-left: -18%;
}
.btn-rounded{
    border-radius: 20px;
}

.margin-top{
    margin-top: 2.5%;
}
.dark-row{
    background-color: #1B2631;
    color: white;
}
.white-row{
    background-color:   white;    
    color: black;

}
ion-col{
    margin-top: 20px;
}
.icon-size{
    font-size: 25px;
}
.red{
    color: #d11a2a
}