<div class="margin-top">
    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col>
                    <div class="text-center">
                        <h3 class="white-font">Iniciar sesión</h3>
                    </div>
                    <div>
                        <ion-item>
                            <ion-icon name="person-outline"></ion-icon>
                            <ion-input class="margin-left" type="text" placeholder="Introduce tu nombre"
                                formControlName="user_id" ngDefaultControl>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <ion-input class="margin-left" type="password" placeholder="Introduce tu contraseña"
                                formControlName="password" ngDefaultControl>
                            </ion-input>
                        </ion-item>
                    </div>
                    <div class=" margin-left-error text-danger negrita">
                        <p *ngIf="campoNoValido('user_id')">* El nombre es obligatorio</p>
                        <p *ngIf="campoNoValido('password')">* La contraseña es obligatoria</p>
                    </div>
                    <div>
                        <ion-button size="large" type="submit">Iniciar sesión<i class="fa fa-sign-in"
                                aria-hidden="true"></i>
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</div>