<div class="animate__animated animate__fadeIn fast" *ngIf="!historialVacio()">
    <div class="row">
        <div class="col-md-4 margin-center">
            <div class="card">
                <h5 class="card-header">Periodo entre
                    {{dateInicial.getDate() | fecha:false}}/{{dateInicial.getMonth()|
                    fecha:true}}/{{dateInicial.getFullYear() | fecha:false}} y
                    {{dateFinal.getDate() | fecha:false }}/{{dateFinal.getMonth() | fecha:true
                    }}/{{dateFinal.getFullYear() | fecha:false}}
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Horas trabajadas</h5>
                    <p class="card-text"><b>{{horasTotales}}</b> horas y <b>{{minutosTotales}} minutos</b> </p>
                    <p class="card-text">
                        <b>{{estadisticasService.calcularHorasAlDia(dateInicial,dateFinal,horasTotales)}}</b>
                        horas/dia
                    </p>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-info btn-block btn-rounded" (click)="abrirModalFiltrarFichajes()">Periodo de
                        fichajes</button>
                </div>

            </div>
        </div>
    </div>
    <br>
    <div class="container ">
        <div class="table-responisve">
            <table id="fichajes" class="table table-bordered table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Comentario</th>
                        <th>Localización</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tr class="table-info" *ngFor="let fichaje of fichajes">
                    <td>{{fichaje.tipo}}</td>
                    <td>
                        {{fichaje.date.getDate() | fecha:false}}/{{fichaje.date.getMonth() |
                        fecha:true}}/{{fichaje.date.getFullYear() | fecha:false}}
                    </td>
                    <td>
                        {{fichaje.date.getHours() | fecha:false}}:{{fichaje.date.getMinutes() | fecha:false}}
                    </td>

                    <td class="w30PorCiento">
                        {{fichaje.comentario}}
                    </td>

                    <td class="w30 text-nowrap text-center">
                        <i class="w20 cursor fas fa-map-marker-alt" (click)="abrirModal(fichaje)"></i>
                    </td>

                    <td class="text-nowrap text-center">
                        <a class="cursor" data-toogle="tooltip" data-original-title="Editar"
                            (click)="modalActualizarFichaje(fichaje)">
                            <i class=" w20 fa fa-pencil text-inverse m r-10"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!---------------------EndTabla----------------------->
<!---------------------------------------------------->
<div class="animate__animated animate__bounce" *ngIf="historialVacio()">
    <h1>No hay datos que cargar</h1>
</div>
<app-filtrar-fichajes></app-filtrar-fichajes>