<div class="fondo-modal-imagen animated fadeIn fast modal-container" (mouseover)="onInitModal()"
    [class.oculto]="modalServiceActualizarFichaje.ocultarModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Actualizar fichaje</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registrarForm" autocomplete="off" [formGroup]="ficharForm"
                        (ngSubmit)="actualizarFichaje()">

                        <div class="form-group">
                            <label for="date" class="col-form-label">Fecha:</label>
                            <input type="date" class="form-control" formControlName="date" id="date">
                        </div>
                        <div class="form-group">
                            <label for="hora" class="col-form-label">Hora:</label>
                            <input type="time" class="form-control" formControlName="hora" id="hora">
                        </div>
                        <div>
                            <label class="col-form-label">Geolocalizacion:</label>
                            <i class="cursor fas fa-map-marker-alt" (click)="abrirModalMapa()"></i>
                        </div>
                        <div class="form-group">
                            <label for="comentario" class="col-form-label">Comentario (opcional):</label>
                            <textarea type="text" class="form-control" formControlName="comentario" id="comentario"
                                maxlength="200"></textarea>
                        </div>

                    </form>
                    <div class="text-danger">
                        <p *ngIf="campoNoValido('date')">*La fecha es obligatoria</p>
                        <p *ngIf="campoNoValido('hora')">* La hora es obligatorio</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="actualizarFichaje()">
                        Aceptar
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarModal()">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>