<div class="fondo-modal-imagen animated fadeIn fast" (mouseover)="onInitModal()"
    [class.oculto]="modalActualizarFichajeUsuarioService.ocultarModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Actualizar fichaje</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registrarForm" autocomplete="off" [formGroup]="ficharForm"
                        (ngSubmit)="actualizarFichaje()">
                        <div class="form-group">
                            <label for="comentario" class="col-form-label">Comentario (opcional):</label>
                            <textarea type="text" class="form-control" formControlName="comentario" id="comentario"
                                maxlength="200"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="actualizarFichaje()">
                        Aceptar
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarModal()">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>