<app-navbar></app-navbar>

<!------------------------------------->
<!--------------------------------------->
<div class="container margin animate__animated animate__fadeIn fast">
    <div class="row">
        <aside class="col-sm-5">
            <div class="card">
                <article class="card-body">
                    <h3 class="card-title text-center mb-4 mt-1">Registrar usuario</h3>
                    <hr>
                    <form id="registrarForm" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="crearUsuario()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user fa-2x"></i> </span>
                                </div>
                                <input class="w350" type="text" formControlName="user_id"
                                    placeholder="Nombre de usuario" autofocus="">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock fa-2x"></i> </span>
                                </div>
                                <input class="w350" type="password" formControlName="password" placeholder="******"
                                    autofocus="">
                            </div> <!-- input-group.// -->
                            <br>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="rol" id="rol">Rol</label>
                                    </div>
                                    <select class="custom-select" formControlName="rol" id="rol">
                                        <option [value]="rol" *ngFor="let rol of roles">{{rol}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-danger negrita">
                                <p *ngIf="campoNoValido('user_id')">* El nombre es obligatorio</p>
                                <p *ngIf="campoNoValido('password')">* La contraseña es obligatorio</p>
                            </div>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Registrar </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</div>
<!--container end.//-->