
.btn-rounded{
    border-radius: 20px;
}

button[disabled=disabled], button:disabled {
    border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.red{
    background-color: #d9534f;
}

.green{
    background-color: #77dd77;
}
.white{
    color:white;
}
ion-card {
    height: 100%;
    margin: 15px;
    }
ion-item {
    height: 100%;
    margin: 15px;
}