<!-------------------------Fichar------------------------->
<!-------------------------------------------------------->
<ion-card>
    <ion-item>
        <ion-icon name="time" slot="start" color="primary"></ion-icon>
        <ion-button color="dark" fill="outline " class="btn-rounded btn-block white"
            [disabled]="maxFichajesRealizadosHoy" (click)="mostrarModalFichar()" [ngClass]="{
                'green': proximoFichajeEsEntrada,
                'red': !proximoFichajeEsEntrada
              }">
            Fichar la {{getNewTipo()}}
        </ion-button>
    </ion-item>
</ion-card>
<!---------------------EndFichar-------------------------->
<!-------------------------------------------------------->

<!------------------HistorialFichajes------------------>
<!----------------------------------------------------->
<ion-card>
    <ion-item class="ion-activated dark" [routerLink]="['/dashboard/historial']">
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label>Ver historial de fichajes</ion-label>
    </ion-item>
</ion-card>
<!------------------EndHistorialFichajes------------------>
<!-------------------------------------------------------->

<div class="eresAdmin()">
    <!--------------------RegistrarUsuarios------------------->
    <!-------------------------------------------------------->
    <ion-card>
        <ion-item class="ion-activated" [routerLink]="['/registrar']">
            <ion-icon name="person-add" slot="start" color="primary"></ion-icon>
            <ion-label>Registrar usuarios</ion-label>
        </ion-item>
    </ion-card>

    <!--------------EndRegistrarUsuarios------------------->
    <!----------------------------------------------------->

    <!-------------------------Admin----------------------->
    <!----------------------------------------------------->
    <ion-card>
        <ion-item [routerLink]="['/dashboard/admin']">
            <ion-icon name="people" slot="start" color="primary"></ion-icon>
            <ion-label>Ver o modificar fichajes de usuarios</ion-label>
        </ion-item>
    </ion-card>

    <!------------------------EndAdmin------------------------>
    <!-------------------------------------------------------->
</div>