<div class="fondo-modal-imagen animated fadeIn fast" (mouseenter)="onInitModal()"
    [class.oculto]="modalFiltrarFichajesService.ocultarModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Actualizar fichaje</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="filtrarFichajesForm" autocomplete="off" [formGroup]="filtrarFichajesForm"
                        (ngSubmit)="cargarFichajes()">
                        <div class="form-group">
                            <label for="dateInicial" class="col-form-label">Fecha inicial</label>
                            <input type="date" class="form-control" formControlName="dateInicial">
                        </div>
                        <div class="form-group">
                            <label for="dateFinal" class="col-form-label">Fecha final</label>
                            <input type="date" class="form-control" formControlName="dateFinal">
                        </div>
                        <div *ngIf="formSubmitted" class="text-danger">
                            <p *ngIf="campoNoValido('dateInicial')">*La fecha inicial es obligatoria</p>
                            <p *ngIf="campoNoValido('dateFinal')">* La fecha final es obligatoria</p>
                            <p *ngIf="!periodoValido()">* El periodo no es valido </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cargarFichajes()">
                        Aceptar
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarModal()">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>