<!--------------------------------------->
<div class="container margin animate__animated animate__fadeIn fast">
    <div class="row">
        <aside class="col-sm-5">
            <div class="card">
                <article class="card-body">
                    <h3 class="card-title text-center mb-4 mt-1">Iniciar sesión</h3>
                    <hr>
                    <form id="loginForm" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user fa-2x"></i> </span>
                                </div>
                                <input class="w350" type="text" formControlName="user_id"
                                    placeholder="Nombre de usuario" autofocus="">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock fa-2x"></i> </span>
                                </div>
                                <input class="w350" type="password" formControlName="password" placeholder="******"
                                    autofocus="">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <!--Sign in google-->
                        <div id="oauth-google">
                            <a href="http://127.0.0.1:5001/login/google">
                                <img
                                    src="../../../assets/signin-assets/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png">
                            </a>
                        </div>
                        <div class="text-danger negrita">
                            <p *ngIf="campoNoValido('user_id')">* El nombre es obligatorio</p>
                            <p *ngIf="campoNoValido('password')">* La contraseña es obligatorio</p>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Iniciar sesión </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</div>
<!--container end.//-->