<ion-toolbar>
  <ion-row class="ion-align-items-center strong-dark">
    <ion-col size="1">
      <img src="../../../assets/img/zymbol-logo.png" class="logo ion-text-left">
    </ion-col>
    <ion-col size="10">
      <ion-card>
        <div *ngIf="hasFichado()">
          <ion-item>
            <ion-label>
              <ion-icon name="checkmark-circle" color="success" class="check-icon"></ion-icon>
              Fichaje de {{fichaje.tipo}} realizado
            </ion-label>
          </ion-item>
        </div>
        <div *ngIf="!hasFichado()">
          <ion-item>
            <ion-icon name="alert-circle" color="warning" slot="start"></ion-icon>
            <ion-label>Cuidado, no has fichado</ion-label>
          </ion-item>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-toolbar>