<div class=" margin-card-deck">
    <div class="row">
        <div class="col-md-5 animate__animated animate__fadeIn fast">
            <div class="card cursor" [routerLink]="['/dashboard/historial']">
                <div class="card-horizontal">
                    <div class=" col-md-2 text-center">
                        <br>
                        <i class="fa fa-history fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Historial</h5>
                        <p class="card-text"> Ver fichajes o modificar comentarios</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 animate__animated animate__fadeIn fast">
            <div class="card">
                <div class="card-horizontal">
                    <div class=" col-md-2 text-center">
                        <br>
                        <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <button class="btn-rounded w200 white" [disabled]="maxFichajesRealizadosHoy"
                                (click)="mostrarModalFichar()" [ngClass]="{
                                    'blue': proximoFichajeEsEntrada,
                                    'red': !proximoFichajeEsEntrada
                                  }">
                                Fichar la {{getNewTipo()}}
                            </button>
                        </div>
                        <div *ngIf="existeUltimoFichaje">
                            <p class="card-text">Fichaje de {{ultimoFichaje.tipo}} realizado a las
                                <b>
                                    {{ultimoFichaje.date.getHours() | fecha:false }}:{{ultimoFichaje.date.getMinutes() |
                                    fecha:false}}
                                </b>
                            </p>
                        </div>
                        <div *ngIf="!existeUltimoFichaje">
                            <p class="card-text">Todavía no se ha realizado ningún fichaje :(
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="eresAdmin()">
        <div class="row">
            <div class="col-md-5 animate__animated animate__fadeIn fast">
                <div class="card cursor" [routerLink]="['/registrar']">
                    <div class="card-horizontal">
                        <div class=" col-md-2 text-center">
                            <br>
                            <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Registrar usuarios</h5>
                            <p class="card-text"> Crear usuarios </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 animate__animated animate__fadeIn fast">
                <div class="card cursor" [routerLink]="['/dashboard/admin']">
                    <div class="card-horizontal">
                        <div class=" col-md-2 text-center">
                            <br>
                            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Gestión de usuarios</h5>
                            <p class="card-text"> Ver o modificar los fichajes de los usuarios </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>