
.margin-card-deck{
    margin-left: 15%;
    margin-top: 10%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.btn-rounded{
    border-radius: 20px;
}
.w200{
    width: 200px;
}
button[disabled=disabled], button:disabled {
    border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.red{
    background-color: #d9534f;
}
.blue{
    background-color: #0275d8;
}
.white{
    color:white;
}