<div>
    <app-navbar></app-navbar>
    <!----Sistema de rutas ---->
    <router-outlet></router-outlet>
</div>

<app-modal></app-modal>
<app-actualizar-fichaje-usuario></app-actualizar-fichaje-usuario>
