<div>
    <!-------Header------->
    <app-header></app-header>

    <!----Sistema de rutas ---->
    <router-outlet></router-outlet>
</div>

<!--------------Modals--------------------->
<app-modal></app-modal>
<app-actualizar-fichaje-usuario></app-actualizar-fichaje-usuario>

  <!---------Navbar---------->
  <app-navbar></app-navbar>
