
.btn-rounded{
    border-radius: 20px;
}
ion-col{
    margin-top: 20px;
}
.icon-size{
    font-size: 25px;
}
.white{
    background-color: white;
}

.dark-row{
    background-color: #1B2631;
    color: white;
}
.white-row{
    background-color:   white;    
    color: black;
}
