<!-------HayFichajes-------->
<!-------------------------->
<div *ngIf="!historialVacio()">

    <!----EstadisticasPeriodo----->
    <!---------------------------->
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                Periodo entre
                {{dateInicial.getDate() |fecha:false}}/{{dateInicial.getMonth()|fecha:true}}/{{dateInicial.getFullYear()
                | fecha:false}} y
                {{dateFinal.getDate() | fecha:false }}/{{dateFinal.getMonth() | fecha:true}}/{{dateFinal.getFullYear() |
                fecha:false}}
            </ion-card-subtitle>
            <ion-card-title>Horas trabajadas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                <b>{{horasTotales}}</b> horas y <b>{{minutosTotales}} minutos</b>
            </p>
            <p>
                <b>{{estadisticasService.calcularHorasAlDia(dateInicial,dateFinal,horasTotales)}}</b> horas/dia
            </p>
        </ion-card-content>
        <ion-icon name="time" slot="start" color="primary"></ion-icon>
        <div class="card-footer text-center">
            <ion-button shape="round" expand="block" (click)="abrirModalFiltrarFichajes()">
                Periodo de fichajes
            </ion-button>
        </div>
    </ion-card>
    <!---EndEstadisticasPeriodo--->
    <!---------------------------->

    <br>

    <!---------------------TablaFichajes----------------------->
    <!--------------------------------------------------------->
    <ion-grid>
        <div class="white-font">
            <ion-row>
                <ion-col>
                    Tipo
                </ion-col>
                <ion-col>
                    Fecha
                </ion-col>
                <ion-col>
                    Hora
                </ion-col>
                <ion-col>
                    Localización
                </ion-col>
            </ion-row>
        </div>
        <div class="dark" *ngFor="let fichaje of fichajes; let odd=odd
        " [ngClass]="odd ? 'dark-row' : 'white-row'">
            <ion-row>
                <ion-col>
                    <div>
                        {{fichaje.tipo}}
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{fichaje.date.getDate() | fecha:false}}/{{fichaje.date.getMonth() |
                        fecha:true}}/{{fichaje.date.getFullYear() | fecha:false}}
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{fichaje.date.getHours() | fecha:false}}:{{fichaje.date.getMinutes() | fecha:false}}
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <a class="cursor" data-original-title="Map" (click)="abrirModal(fichaje)">
                            <ion-icon class="icon-size" name="map"></ion-icon>
                        </a>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>

    <!---------------------EndTablaFichajes----------------------->
    <!------------------------------------------------------------>

</div>
<!-------EndHayFichajes-------->
<!----------------------------->

<!-------NoHayFichajes------>
<div *ngIf="historialVacio()">
    <h1>No hay datos que cargar</h1>
</div>


<!-------Modal---------->
<app-filtrar-fichajes></app-filtrar-fichajes>