  .margin-left{
      margin-left: 4%;
  }
  .margin-left-error{
      margin-left: 15%;
  }
  ion-item{
      padding: 5% 5%;
      margin: 5%;
      box-sizing: border-box;
  }
  ion-button{
      --background: #3880ff;
      float: right;
      margin-right: 5%;
      width: 50%;
      font-size: 80%;
  }
  