<form id="registerForm" [formGroup]="registerForm" (ngSubmit)="crearUsuario()">
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col>
                <div class="text-center">
                    <h3 class="white-font">Registrar usuario</h3>
                </div>
                <div>
                    <ion-item>
                        <ion-icon name="person-outline"></ion-icon>
                        <ion-input class="margin-left" type="text" placeholder="Introduce tu nombre"
                            formControlName="user_id" ngDefaultControl>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <ion-input class="margin-left" type="password" placeholder="Introduce tu contraseña"
                            formControlName="password" ngDefaultControl>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Rol</ion-label>
                        <ion-select  okText="Aceptar" cancelText="Cancelar" formControlName="rol"
                            id="rol" ngDefaultControl>
                            <ion-select-option [value]="rol" *ngFor="let rol of roles">
                                {{rol}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
                <div class=" margin-left-error text-danger negrita">
                    <p *ngIf="campoNoValido('user_id')">* El nombre es obligatorio</p>
                    <p *ngIf="campoNoValido('password')">* La contraseña es obligatoria</p>
                </div>
                <div>
                    <ion-button size="large" type="submit">Registrar<ion-icon name="person-add-outline"></ion-icon>
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>